<h1>ALL OF THE TWEETS...ALL</h1>

<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <%= link_to "#{tweet.user.username} says #{tweet.content}", tweet_path(tweet)%>
    </li>
  <% end %>
</ul>

<%= link_to 'Make a Tweet', new_tweet_path %>
